/*-- scss:defaults --*/

// colours
$body-bg: #F0F5F5;
$body-color: #2F4F4F;
$link-color: #508080;
$navbar-bg: #2F4F4F;

/*-- scss:rules --*/

.card-header {
  background: #508080;
  color: #F0F5F5;
}